package ${package}.domain;
#if(${hasCreateBy})
import com.belong.common.core.base.CrudEntity;
#end
#if(!${hasCreateBy})
import com.belong.common.core.base.DataEntity;
#end
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.*;
#if(${hasDatetime})
import java.util.Date;
#end
#if(${hasBigDecimal})
#end


/**
 * @Description:    ${comments}
 * @Author:          ${author}
 * @CreateDate:      ${datetime}
 * @UpdateUser:      ${author}
 * @UpdateDate:     ${datetime}
 * @UpdateRemark: 修改内容
 * @Version: 1.0
 */
@Data
@Builder
@NoArgsConstructor
@TableName("${tableName}")
@AllArgsConstructor(access = AccessLevel.PRIVATE)
public class ${className}DO extends #if(${hasCreateBy}) CrudEntity #end #if(!${hasCreateBy}) DataEntity  #end {
    private static final long serialVersionUID = -1L;

    public static final String REDIS_KEY = "${tableName}:" ;

    #foreach ($column in $columns)#if($column.attrname!="createBy"&&$column.attrname!="updateBy")
        /** $column.comments */
        #if ($column.attrType=="Date")
            @TableField("$column.columnName")
            private $column.attrType $column.attrname;
        #end
        #if ($column.attrType!="Date")
                @TableField("$column.columnName")
                private $column.attrType $column.attrname;
        #end
    #end
    #end
}
